@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
	font-family: "Lato" ;
}
.wrap {
	width:250px;
	height: auto;
	margin: auto;
	margin-top: 10%;
	margin-right: 10%;
	margin-left:20%;
	float:right;
}
.avatar {
	width: 100%;
	margin: auto;
	width: 65px;
	border-radius: 100px;
	height: 65px;
	position: relative;
}
.avatar img {
	width: 55px;
	height: 55px;
	border-radius: 100px;
	margin: auto;
	display: block;
	opacity:1;
}
.input {
	border: none;
	background: #d8d8d8;
  font-family:Lato ;
  font-weight:700 ;
	display: block;
	height: 25px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
	opacity: 0.8;
}
.bar {
	width: 100%;
	height: 1px;
	background: #fff ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #000;
}


#first_name_register {
	border-radius: 7px 0px 0px 0px;
	border: none;
	background: #d8d8d8;
  font-family:Lato ;
  font-weight:700 ;
	height: 25px;
	outline: none;
	padding: 6px 12px 6px 12px;
	width: 40%;
	margin: auto;
	opacity: 0.8;
}
#last_name_register {
	border-radius: 0px 7px 0px 0px;
	border: none;
	background: #d8d8d8;
  font-family:Lato ;
  font-weight:700 ;
	height: 25px;
	outline: none;
	padding: 6px 12px 6px 12px;
	width: 40%;
	margin:auto;
	float:right;
	opacity: 0.8;
}
#dob_register{
	border-radius: 0px 0px 7px 7px ;
}
.forgot_link {
	color: #83afdf;
	text-decoration: none;
	font-size: 11px;
	position: relative;
	left: 193px;
	top: -36px;
}
#login_submit {
	width: 100%;
	border-radius: 7px;
	background: #b6ee65;
	opacity: 0.7;
	text-decoration: center;
	border: none;
	color: #51771a;
  margin-top:5px;
  margin-bottom:5px;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 13px;	
	border-bottom: 3px solid #307d63;
	cursor: pointer;
}
.register_link {
	color: #00f;
	text-decoration: none;
	font-size: 15px;
	position: relative;
	top: 10px;
}